// SECTIONS
$section-width: 75%;
$section-padding-top: 50px;
$section-padding-bottom: 50px;

// PRINCIPAL FONT-FAMILY
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

// COLOR
$black: #000;
$white: #fff;
$less-black: grey;
$gold: #8b763d;

// H1
$h1-color: #1f27af;
$h1-font-size: 36px;

// P
$p-color: #232931;
$p-font-size: 18px;