@import './constants.scss';

footer {
    background-color: $gold;
    color: $white;
    padding: 24px 10%;
    left: 0;

    &:after {
        content:'';
        display: block;
        clear: both;
    }

    h6 {
        text-transform: uppercase;
        font-weight: bold;
    }

    a {
        cursor: pointer;
    }

    .copyrigths {
        text-align: center;
    }
}