@import '../utils/_variables.scss';

header {
    display: flex;
    align-items: center;
    height: $header-height;
    background-color: $white;
    border-bottom: $border-1px;
    position: fixed;
    z-index: 99;
    width: 100%;

    & a {
        @include a;
        display: flex;
        transition: all 0.2s linear;
        color: $black;
        align-items: center;
        gap: 0.5rem;

        & span {
            font-size: 32px !important;
        }

        & p {
            margin: 0;
        }

        & img {
            max-height: calc($header-height - 2px);
        }
    }

    & a:hover {
        color: $brown-gold;
    }

    & div {
        display: flex;
        flex: 1;

        &.menu {
            gap: 1rem;
            margin-left: 5rem;
        }

        &.logo {
            justify-content: center;
            margin-left: -5rem;
        }

        &.icons {
            justify-content: right;
            height: 100%;

            & a {
                justify-content: center;
                border-left: $border-1px;
                flex: 1;
                max-width: $header-height;

                &#shopping_cart {

                    &:nth-child(1) {
                        position: relative;
                    }

                    & #badge {
                        color: $white;
                        position: absolute;
                        font-size: $font-s !important;
                        margin-top: 1rem;
                        margin-left: 1rem;
                    }
                
                    & #badge:after{
                        content:attr(value);
                        background: $brown-gold;
                        border-radius:50%;
                        padding: 0 5px;
                    }
                }
            }
        }
    }
}

// .menu-button {
//     display: none;
// }

// .menu-button .bar {
//     display: block;
//     width: 25px;
//     height: 3px;
//     margin: 5px auto;
//     -webkit-transition: all 0.3s ease-in-out;
//     transition: all 0.3s ease-in-out;
//     background-color: #212529;
// }