@import './constants.scss';

#my-account-page {
    margin: $section-padding-top 10% 0% 10%;
    width: 80%;

    .nav-tabs {
        --bs-nav-tabs-border-width: 0px;
        --bs-nav-tabs-border-color: $white;
        --bs-nav-tabs-border-radius: 0px;
        --bs-nav-tabs-link-hover-border-color: $white;
        --bs-nav-tabs-link-active-color: $white;
        --bs-nav-tabs-link-active-border-color: $white;
        border-bottom: 0px;
    }

    a {
        color: $black;
    }

    .nav-item:hover,
    .active {
        font-weight: bold;

        .small-border {
            width: 24px;
            border-bottom: 2px solid $black;
            margin-right: auto;
            margin-left: auto;
        }
    }

    #top-tabs {
        padding-bottom: 24px;
        border-bottom: 1px solid $black;
    }

    #account {
        display: block;
    }

    #shop {
        display: none;
    }

    .container {
        margin-top: 24px;
        margin-bottom: 24px;

        .account-section {
            margin-top: 24px;

            .form-group {
                margin-bottom: 8px;

                input {
                    color: $less-black;
                }
            }
        }

        .save-or-cancel-buttons {
            margin-top: 24px;

            .btn-primary {
                background-color: $gold;
                border-color: $gold;
            }
        }
    }

    #account-general {
        display: block;
    }

    #account-address {
        display: none;
    }

    #account-password {
        display: none;
    }
}