// FONT FAMILY
$primary-font-family: 'Source Sans Pro', sans-serif;
$secondary-font-family: 'Ubuntu', sans-serif;

// FONT SIZE
$font-xs: 12px;
$font-s: 14px;
$font-m: 16px;
$font-l: 18px;
$font-xl: 20px;

// FONT WEIGHT
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-normal: 400;

// LINE HEIGHT
$line-height-l: 18px;
$line-height-m: 16px;

// ELEMENTS
@mixin h1 {
    font-family: $primary-font-family;
    font-weight: $font-weight-bold;
    font-size: $font-xl;
    line-height: $line-height-l;
    text-transform: uppercase;
}

@mixin h2 {
    font-family: $primary-font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-l;
    line-height: $line-height-l;
    text-transform: uppercase;
}

@mixin h3 {
    font-family: $primary-font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-m;
    line-height: $line-height-l;
    text-transform: uppercase;
}

@mixin h4 {
    font-family: $primary-font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-s;
    line-height: $line-height-m;
    text-transform: uppercase;
}

@mixin p {
    font-family: $primary-font-family;
    font-weight: $font-weight-normal;
    font-size: $font-m;
    line-height: $line-height-m;
}

@mixin a {
    font-family: $primary-font-family;
    font-weight: $font-weight-normal;
    font-size: $font-m;
    line-height: $line-height-m;
}