/*-- HEADER --*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 5%;
    left: 0;
    height: 75px;
    background-color: #fff;
}

header div {
    width: calc( (100% - 10% - 24px - 24px)/3 );
}

header a {
    font-family: 'Fira Sans', sans-serif;
    display: block;
    font-size: 16px;
    line-height: 18px;
    transition: all 0.2s linear;
    color: #1b1b1b;
}

header a:hover {
    color: #8b763d;
}

.menu_nav {
    order: 1;
    text-align: left;
}

.logo {
    order: 2;
    text-align: center;
}

.main_nav {
    order: 3;
    text-align: right;
}

.icon {
    font-size: 1.5rem;
}

.nav__links {
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 8px;
}

.menu-button {
    display: none;
}

.menu-button .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #212529;
}

.badge {
    color: #212529;
    padding: 0;
}

.badge:after{
    content:attr(value);
    font-size:12px;
    background: red;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}