@import './partials/header.scss';
@import './partials/home.scss';
@import './partials/store.scss';
@import './partials/sections.scss';

@import './partials/about.scss';
@import './partials/contacts.scss';
@import './partials/footer.scss';
@import './partials/team.scss';

body {
    display:flex; 
    flex-direction:column;
    background-color: #fff; 
}

li, a, button {
    text-decoration: none;
}