.cart {
  margin-top: 8vh;
}
.cart::after {
  content: "";
  display: block;
  clear: both;
}
.cart table {
  width: 100%;
}
.cart table thead td {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #8b763d;
}
.cart table thead td:last-child {
  text-align: right;
}
.cart table tbody {
  padding: 1rem 0;
  border-bottom: 1px solid #8b763d;
}
.cart table tbody td.img {
  width: 80px;
}
.cart table tbody td:last-child {
  text-align: right;
}
.cart table tbody td .remove {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-size: 14px;
  color: #8b763d;
  margin-top: 0.25rem;
}
.cart table tbody td .remove:hover {
  text-decoration: underline;
}
.cart table tbody td .price {
  color: #757575;
}
.cart table tbody td a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #1b1b1b;
}
.cart table tbody td input[type=number] {
  width: 4rem;
  padding: 0.5rem;
  border: 1px solid #8b763d;
  color: #757575;
  border-radius: 0.25rem;
}
.cart .subtotal {
  text-align: right;
  margin: 2.5rem 0;
}
.cart .subtotal .text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 2.5rem;
  color: #8b763d;
}
.cart .subtotal .price {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #1b1b1b;
}
.cart .buttons {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.cart .buttons .btn {
  display: flex;
  background-color: #8b763d;
  color: #fff;
}
.cart .buttons .btn p {
  color: #fff;
  margin-bottom: 0;
}
.cart .buttons .btn:hover {
  background-color: rgba(139, 118, 61, 0.7);
}

/*ENVIO*/
footer {
  background: rgba(139, 118, 61, 0.7);
  color: #fff;
  padding: 2rem 10%;
  left: 0;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
footer a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}
footer .container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
footer .container div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
footer .container div h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
footer .container div a {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}
footer .container div a:hover {
  color: #8b763d !important;
}
footer .copyrigths {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  height: 8vh;
  background-color: #fff;
  border-bottom: 1px solid #8b763d;
  position: fixed;
  z-index: 99;
  width: 100%;
}
header a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  transition: all 0.2s linear;
  color: #1b1b1b;
  align-items: center;
  gap: 0.5rem;
}
header a span {
  font-size: 32px !important;
}
header a p {
  margin: 0;
}
header a img {
  max-height: calc(8vh - 2px);
}
header a:hover {
  color: #8b763d;
}
header div {
  display: flex;
  flex: 1;
}
header div.menu {
  gap: 1rem;
  margin-left: 5rem;
}
header div.logo {
  justify-content: center;
  margin-left: -5rem;
}
header div.icons {
  justify-content: right;
  height: 100%;
}
header div.icons a {
  justify-content: center;
  border-left: 1px solid #8b763d;
  flex: 1;
  max-width: 8vh;
}

#home.slider {
  height: 92vh;
  position: relative;
  overflow: hidden;
  margin-top: 8vh;
}
#home.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 16.5s infinite;
  opacity: 0.5;
}
#home.slider .slide:nth-child(1) {
  background-image: url("../../img/background/olives_background.png");
  animation-delay: 0s;
}
#home.slider .slide:nth-child(2) {
  background-image: url("../../img/background/glass-bottle-with-olive-oil-gray-background.jpg");
  animation-delay: -5.5s;
}
#home.slider .slide:nth-child(3) {
  background-image: url("../../img/background/olive-tree-brunch.jpg");
  animation-delay: -11s;
}
#home.slider .text_middle {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #1b1b1b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home.slider .text_middle h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 64px;
}
#home.slider .text_middle .subheading {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #8b763d;
  letter-spacing: 4px;
}
#home.slider .text_middle button {
  margin-top: 32px;
  background-color: #1b1b1b;
  color: #fff;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
#home.slider .text_middle button p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
}
#home.slider .text_middle .btn:hover {
  background-color: #8b763d;
}

@keyframes slider {
  0%, 30%, 100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  97% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}
.nw-s {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.nw-s:after {
  content: "";
  display: block;
  clear: both;
}
.nw-s h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: #8b763d;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1rem;
}
.nw-s h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.products {
  margin-top: 1rem;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}
.products .product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
}
.products .product:hover {
  color: unset !important;
  cursor: pointer;
}
.products .product:hover .add-to-cart {
  display: flex;
  gap: 0.5rem;
}
.products .product:hover .product-img {
  opacity: 0.5;
}
.products .product .product-img {
  width: 80%;
}
.products .product .product-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #8b763d;
}
.products .product .product-short-description {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-size: 14px;
  color: #757575;
}
.products .product .product-price {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #8b763d;
}
.products .product .add-to-cart {
  display: none;
  background-color: #8b763d;
  color: #fff;
  margin-top: 0.5rem;
}
.products .product .add-to-cart p {
  color: #fff;
  margin-bottom: 0;
}
.products .product .add-to-cart:hover {
  background-color: rgba(139, 118, 61, 0.7);
}

/* Produto */
body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-between;
}

li, a, button {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */