header {
  display: flex;
  align-items: center;
  height: 8vh;
  background-color: #fff;
  border-bottom: 1px solid #8b763d;
  position: fixed;
  z-index: 99;
  width: 100%;
}
header a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  transition: all 0.2s linear;
  color: #1b1b1b;
  align-items: center;
  gap: 0.5rem;
}
header a span {
  font-size: 32px !important;
}
header a p {
  margin: 0;
}
header a img {
  max-height: calc(8vh - 2px);
}
header a:hover {
  color: #8b763d;
}
header div {
  display: flex;
  flex: 1;
}
header div.menu {
  gap: 1rem;
  margin-left: 5rem;
}
header div.logo {
  justify-content: center;
  margin-left: -5rem;
}
header div.icons {
  justify-content: right;
  height: 100%;
}
header div.icons a {
  justify-content: center;
  border-left: 1px solid #8b763d;
  flex: 1;
  max-width: 8vh;
}

#home.slider {
  height: 92vh;
  position: relative;
  overflow: hidden;
  margin-top: 8vh;
}
#home.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 16.5s infinite;
  opacity: 0.5;
}
#home.slider .slide:nth-child(1) {
  background-image: url("../../img/background/olives_background.png");
  animation-delay: 0s;
}
#home.slider .slide:nth-child(2) {
  background-image: url("../../img/background/glass-bottle-with-olive-oil-gray-background.jpg");
  animation-delay: -5.5s;
}
#home.slider .slide:nth-child(3) {
  background-image: url("../../img/background/olive-tree-brunch.jpg");
  animation-delay: -11s;
}
#home.slider .text_middle {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #1b1b1b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home.slider .text_middle h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 64px;
}
#home.slider .text_middle .subheading {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #8b763d;
  letter-spacing: 4px;
}
#home.slider .text_middle button {
  margin-top: 32px;
  background-color: #1b1b1b;
  color: #fff;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
#home.slider .text_middle button p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
}
#home.slider .text_middle .btn:hover {
  background-color: #8b763d;
}

@keyframes slider {
  0%, 30%, 100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  97% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}
.products {
  margin-top: 1rem;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}
.products .product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
}
.products .product:hover {
  color: unset !important;
  cursor: pointer;
}
.products .product:hover .add-to-cart {
  display: flex;
  gap: 0.5rem;
}
.products .product:hover .product-img {
  opacity: 0.5;
}
.products .product .product-img {
  width: 80%;
}
.products .product .product-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #8b763d;
}
.products .product .product-short-description {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-size: 14px;
  color: #757575;
}
.products .product .product-price {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #8b763d;
}
.products .product .add-to-cart {
  display: none;
  background-color: #8b763d;
  color: #fff;
  margin-top: 0.5rem;
}
.products .product .add-to-cart p {
  color: #fff;
  margin-bottom: 0;
}

/* Produto */
.nw-s {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.nw-s:after {
  content: "";
  display: block;
  clear: both;
}
.nw-s h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: #8b763d;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1rem;
}
.nw-s h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

footer {
  background: rgba(139, 118, 61, 0.7);
  color: #fff;
  padding: 2rem 10%;
  left: 0;
}
footer:after {
  content: "";
  display: block;
  clear: both;
}
footer a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}
footer .container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
footer .container div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
footer .container div h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
footer .container div a {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}
footer .container div a:hover {
  color: #8b763d !important;
}
footer .copyrigths {
  text-align: center;
}

.section-about {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.section-about:after {
  content: "";
  display: block;
  clear: both;
}

.section-about h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1f27af;
  font-size: 36px;
}

#section-about p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #232931;
  text-align: left;
}

#section-about .desc {
  font-size: 16px;
}

.about-item i {
  font-size: 50px;
  width: 50px;
}

.about-item .icon {
  float: left;
  color: #ca5a56;
}

.about-item h4 {
  color: #ca5a56;
  font-weight: 600px;
}

.about-item .content {
  padding-left: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

#message-section {
  padding-bottom: 50px;
}

#message-section:after {
  content: "";
  display: block;
  clear: both;
}

.col-right, .col-left {
  width: 50%;
  float: left;
}

.col-right {
  padding-left: 1%;
}

.col-left {
  width: 40%;
  padding-right: 1%;
  margin-left: 5%;
  padding-top: 10%;
}

.col-right .button_send {
  overflow: visible;
}

.col-right .button_send, select {
  text-transform: none;
}

.col-right .button_send, input, select, textarea {
  color: #232931;
  font: inherit;
  margin: 0;
}

.col-right input {
  line-height: normal;
}

.col-right textarea {
  overflow: auto;
}

.col-right #container {
  border: solid 3px #ca5a56;
  max-width: 768px;
  margin: 50px auto;
  position: relative;
}

.col-right form {
  padding: 37.5px;
  margin: 50px 0;
}

.col-right h1 {
  margin-top: 0.5rem;
  color: #232931;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.col-right .underline {
  border-bottom: solid 2px #232931;
  margin: -0.25em auto;
  width: 120px;
}

.col-right .icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.col-right .icon {
  display: block;
  fill: #232931;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.col-right .email {
  float: right;
  width: 45%;
}

.col-right input[type=text], .col-right input[type=email], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s;
}

.col-right input[type=text]:focus, .col-right input[type=email]:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.col-right .message {
  float: none;
}

.col-right .name {
  float: left;
  width: 45%;
}

.col-right select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.col-right select::-ms-expand {
  display: none;
}

.col-right .subject {
  width: 100%;
}

.col-right .telephone {
  width: 100%;
}

.col-right textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #232931;
}

:-moz-placeholder {
  color: #232931;
  opacity: 1;
}

::-moz-placeholder {
  color: #232931;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #232931;
}

.col-right #form_button {
  background: none;
  border: solid 2px #232931;
  color: #232931;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.col-right #form_button:hover {
  background: #232931;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  .col-right #container {
    margin: 20px auto;
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .col-right h1 {
    font-size: 26px;
  }
  .col-right .underline {
    width: 68px;
  }
  .col-right #form_button {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 420px) {
  .col-right h1 {
    font-size: 18px;
  }
  .col-right .icon {
    height: 35px;
    width: 35px;
  }
  .col-right .underline {
    width: 53px;
  }
  .col-right input[type=text], input[type=email], select, textarea {
    font-size: 0.875em;
  }
}
@media only screen and (max-width: 1000px) {
  .col-left {
    width: 75%;
    margin-left: 12.5%;
  }
  .col-right {
    width: 75%;
    margin-left: 12.5%;
  }
}
.team-list img {
  width: 50%;
}

.team-list .content {
  width: 50%;
}

.team-list .content .follow {
  position: absolute;
  bottom: 24px;
}

.team-list:hover {
  transform: scale(1.05);
}

.team, .team-list {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team .content .title, .team-list .content .title {
  font-size: 18px;
}

.team .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.team .member-position, .team .team-social {
  position: absolute;
  bottom: -35px;
  right: 0;
  left: 0;
  margin: auto 10%;
  z-index: 99;
}

.team .team-social {
  bottom: 40px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team:hover {
  transform: translateY(-7px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.team:hover .overlay {
  opacity: 0.6;
}

.team:hover .team-social {
  opacity: 1;
}

@media (max-width: 768px) {
  .team-list img,
  .team-list .content {
    width: 100%;
    float: none !important;
  }
  .team-list img .follow,
  .team-list .content .follow {
    position: relative;
    bottom: 0;
  }
}
.social-icon.social li a {
  color: #adb5bd;
  border-color: #adb5bd;
}

.social-icon li a {
  color: #35404e;
  border: 1px solid #35404e;
  display: inline-block;
  height: 32px;
  text-align: center;
  font-size: 15px;
  width: 32px;
  line-height: 30px;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}

.rounded {
  border-radius: 5px !important;
}

.para-desc {
  max-width: 600px;
}

.text-muted {
  color: #8492a6 !important;
}

.section-title .title {
  letter-spacing: 0.5px;
  font-size: 30px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

li, a, button {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */